
.forecast{
  background-image: url('./img/spring.jpg');
  background-repeat: repeat-y;
  background-size: cover;
  height: 100vh;
	padding: 20% 0;
  position: relative;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.temperature{
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;

}

.btn{
  margin: .5rem;
  font-weight: 500;
}

.button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mb{
  margin-bottom: 3rem;
}